

.container {
    background-color: rgb(46, 42, 42);
    color: white;
    width: 50vh;
    padding-bottom: 10px;
}

.aaron {
    width: fit-content;
    color: rgb(41, 41, 41);
    transition: color 0.5s ease;
}

.aaron:hover {
    color: rgb(102, 27, 178);
}

body {
    background-color: rgb(56, 56, 56);
}